*{
    margin: 0;
    padding: 0 ;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
}

.encabezado{
    background-image: url(../assets/banner.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;

}
.bg-body-tertiary {
    --bs-bg-opacity: 0;
    font-family: "Bungee Hairline", sans-serif;
    font-size: 18px;
}
.encabezado H1{
    font-family: "Big Shoulders Stencil Display", sans-serif;
    font-size: 6rem;
    color: #FFA500;
    margin-bottom: 0;
}

.nav-item{
    font-family: "Bungee Hairline", sans-serif;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 18px;
}
.nav-item a{
    color: #000000;
    text-decoration: none;
    font-weight: 800;
}
.cont-suscrip{
    background-color:#666666;  
}
.cont-suscrip h2{
    display: flex;
    font-family: "Tourney", sans-serif;
    font-size: 300%;
    font-variation-settings:"wdth" 100;
}
.cont-shop{
    background-color:#666666;  
    margin-right: 0px
}

.row {
    margin-right: 0; 
}
.cont-shop h2{
    display: flex;
    font-family: "Tourney", sans-serif;
    font-size: 300%;
    font-variation-settings:"wdth" 100;
}
.cont-shop h3{
    font-size: 30px;
    text-decoration: underline;
}
.cont-shop p{
    font-size: 20px;
}
.sec-suscripciones{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 0px;
}
.card-suscrip{
    text-align: center;
    width: 70%;
    background-color: #757572;
    border-style: solid;
    border-radius: 3%;
    display: flex;
    flex-flow:wrap ;
    justify-content: center;
    margin: 10% 15% 15% 15%;
}
.card-suscrip h3{
    font-family: "Big Shoulders Stencil Display", sans-serif;
    font-size: 2.8rem;
}
.card-suscrip h5{
    display: flex;
    flex-flow:wrap ;
    justify-content: center;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 25px;
}
.btn-outline-primary {
    --bs-btn-color: #FFA500;
    --bs-btn-border-color: #FFA500;
    --bs-btn-hover-bg: #FFA500;
    --bs-btn-hover-border-color: #000;
    --bs-btn-active-bg: #FFA500;
    --bs-btn-active-border-color: #000;
    --bs-btn-disabled-color: #FFA500;
    --bs-btn-disabled-border-color: #FFA500;
}
.card-suscrip div{
    width: 200px;
}
.card-suscrip img{
    width: 100%;
    align-self: center;
}
.card-suscrip p{
    font-size: 20px;
}
.card-suscrip button{
    width: 50%;
    color: #000000;
    background-color: #adada7;
    border-color: #000000;
    border-style: double;
    border-width: 0.3rem;
    border-radius: 10%;
    margin-bottom: 3%;
}
.card{
    border: none;
    text-align: center;
    width: 100%;
    background-color: #757572;
    border-style: solid;
    display: flex;
    flex-flow:wrap ;
    justify-content: center;
    margin: 2%;
}

.card__title{
    font-family: "Big Shoulders Stencil Display", sans-serif;
    font-size: 1.8rem;
}
.card__body{
    background-color: #757572;
    border: none;
}
.card button{
    width: 50%;
    color: #000000;
    background-color: #adada7;
    border-color: #000000;
    border-style: double;
    border-width: 0.3rem;
    border-radius: 10%;
    margin-bottom: 3%;
}
.carousel__item {
    padding:1% ;
}
.pie{
    background-color: #333333;
}
.pie a{
    color: #adada7;
}
.container-fluid{
    flex-direction:column;
}

.nav-list-footer{
    display: flex;
    flex-direction: column;
    margin-right: 4px;
}
