@import './reset/variables';
/*header*/

.bg-body-tertiary {
    --bs-bg-opacity: 0;
    font-family: $fuente-links;
    font-size: 18px;
}

.encabezado{
    background-image: url(../assets/banner.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
        &__titulo{
            font-family: $fuente-titulos;
            font-size: map-get($tam-textos, header-xl);
            color: $color-naranjatitan;
            margin-bottom: 0;
        }
}
.nav{
    &__link{
        font-family: $fuente-links;
        display: inline-block;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 18px;

        &__text{
            color: $color-negro;
            text-decoration: none;
            font-weight: 800;
        }
    }
}