@import './reset/variables';
@import './reset/mixin';
/*principal*/
.cont-suscrip{
    background-color:$color-grisfondo;  
    &__title{
        @include titulos;
    }
}
.cont-shop{
    background-color:$color-grisfondo;  
    margin-right: 0px;
    font-size: map-get($tam-textos, cards-desc);
    &__title{
        @include titulos;
    }
}

.sec-suscripciones{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 0px;
}
.card-suscrip{
    @include card(70%,10% 15% 15% 15%);
    border-radius: 3%;

        &__title{
            font-family: $fuente-titulos;
            font-size: map-get($tam-textos, suscrip);
        }
        div{
            width: 200px;
        }
        img{
            width: 100%;
            align-self: center;
        }
        &__precio{
            font-size: map-get($tam-textos, cards-desc);
        }
        button{
            @include boton;
        }
    
}

.btn-outline-primary {
    --bs-btn-color:#FFA500;
    --bs-btn-border-color: #FFA500;
    --bs-btn-hover-bg: #FFA500;
    --bs-btn-hover-border-color: #000000;
    --bs-btn-active-bg: #FFA500;
    --bs-btn-active-border-color: #000000;
    --bs-btn-disabled-color: #FFA500;
    --bs-btn-disabled-border-color: #FFA500;
}
.card{
    border: none;
    @include card ( 100% ,2% );
    &__title{
        font-family: $fuente-titulos;
        font-size: map-get($tam-textos, card-shop);
    }
    &__body{
        background-color: #757572;
        border: none;
        &__text{
            display: flex;
            flex-flow:wrap ;
            justify-content: center;
            font-family: $fuente-std;
            font-weight: 400;
            font-size: map-get($tam-textos, cards);
        }
    }
    button{
        @include boton;
    }
}

.carousel-item {
    padding:1% ;
}

.banner{
    background-color: $color-grisfondo;
    padding-left: 1%;
    &__titulo{
        font-family: $fuente-titulos;
        font-size: map-get($tam-textos, body-title);
    }
    &__sub-titulo{
        padding-top: 1%;
        font-family: $fuente-titulos;
        font-size: map-get($tam-textos, body-text);
        text-decoration: underline;
    }
    &__text{
        display: flex;
        flex-flow:wrap ;
        justify-content: center;
        font-family: $fuente-std;
        font-weight: 400;
        font-size: map-get($tam-textos, cards);
        margin-bottom: 0;
    }

}

.cont-contacto{
    background-color: $color-grisfondo;
    padding: 3% ;
    width: 80%;
    button{
        margin: 3% 0 0 8%;
        width: 80%;
    }
}


